.mainBackground {
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  pointer-events: none;
  object-fit: cover;
}

.mainLayout {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1600px;
  height: calc(700px, 80vh, 600vh);
  min-height: 80vh;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
  width: calc(300px, 40%, 1200px);
  text-align: center;
}

.box {
  height: 100%;
  width: 100%;
  background: radial-gradient(
    at 200% 0%,
    hsla(167, 100%, 59%, 0.65),
    hsla(301, 70%, 54%, 0.65)
  );
  border-radius: 6px;
  padding: 3rem 4rem;
  border: 0.1px solid hsla(167, 100%, 59%, 0.4);
}
.nav {
  margin-left: 1rem;
  text-align: center;
  width: 150px;
  background: radial-gradient(
    at 200% 0%,
    hsla(167, 100%, 59%, 0.65),
    hsla(301, 70%, 54%, 0.65)
  );
  border-radius: 6px;

  border: 0.1px solid hsla(167, 100%, 59%, 0.4);
  max-width: 1600px;
  /* height: 50vh; */
}

.navButton {
  width: 100%;
  cursor: pointer;
  padding: 1.5rem 0;
  border: none;
  opacity: 0.7;
  font-size: 1rem;
  color: white;
  background-color: transparent;
  transition: 0.2s ease background-color;
}
.navButton:hover {
  background-color: rgba(255, 255, 255, 0.138);
}

.navButton.activeTab {
  background-color: rgba(255, 255, 255, 0.338);
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
